*
{
    font-family: Arial, Helvetica, sans-serif;
}
 
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(107, 106, 106);
}
 
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
 
div{
   border: solid gray;
   background-color: white;
   padding: 20px;
}
 
#grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    border: none;
    border-radius: 4px;
}
 
button{
    background-color: brown;
    color: white;
    padding: 10px;
    font-size: medium;
    border: none;
    border-radius: 4px;
}
 
button:hover{
    background-color: rgb(119, 37, 37);
    color: white;
    cursor: pointer;
}
 